nav{
    background-color: aliceblue;
    border:2px solid green;
}
.menu-bar{
    display: flex;
    list-style: none;
    justify-content:space-between;
    align-items:center ;
}
img{
    width: 100px;
    
}
a{
    text-decoration: none;
    color:rgb(255, 165, 0);
    font-weight:bold ;
    font-size: 20px;
}
.menu-item{
    /* border: 1px solid black; */
    padding: 20px;
    flex-grow: 1;
}
.logo{
    flex-grow:2 ;
    
}
a:hover{
    color:brown;
    text-decoration: underline;
    font-size: 25px;
}