.parent{
    border:1px solid black ;
    background-color: rgb(231, 196, 150);
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
     grid-template-columns: 100px 100px  200px 100px 100px; 
    
}
.child{
    background-color: rgba(222, 11, 116, 0.804); 
    border: 2px solid rgb(14, 42, 135);
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.child-2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.child-3{
    grid-row-start: 1;
    grid-row-end:5;
    grid-column-start: 3;
    grid-column-end: 5;

}
.child-4{
    grid-row-start: 1;
    grid-row-end:6 ;
    grid-column-start: 4;
    grid-column-end: 6;
    /* one more shorthand property */
    /* syntax:grid-area:row-start column-start row-end column-end */
    grid-area:1/4/2/5;
}
.child-5{
    grid-row-start: 3;
    grid-row-end:6;
    grid-column-start: 1;
    grid-column-end: 3;
    /* shothand property */
    /* syntax:grid-row:star/end */
    grid-row:1/4;
    /* syntax:grid-column:start/end */
    grid-column:1/6;
}



