{% extends 'student_registration/menu.html' %}

{% block title %}Delete Registration {% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1>Delete the Existing student Registration</h1>
    </div>
    <div class="card-body">
        <h1>Do you really want to delete this student Registration</h1>
    </div>
    <div class="card-footer">
        <button class="btn btn-success">Yes</button>
        <button class="btn btn-danger">No</button>
    </div>
</div>
{% endblock %}