{% extends 'student_registration/menu.html' %}

{% block title %}Student Registration List{% endblock title %}

{% block content %}
  <h1>List of Student Registration</h1>
  <table class="table table-warning table-bordered border-1 table-hover">
    <thead>
      
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">usn</th>
        <th scope="col">Branch</th>
        <th scope="col">Sem</th>
        <th scope="col">Course</th>
        <th scope="col">Gender</th>
        <th scope="col">Email_ID</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      

    </tbody>
  </table>
{% endblock %}